
/*! botw-menu.css | MIT License | github.com/darylbuckle/botw-menu.css */

/**
 * Background.
 */

.botw-background {
  background-color: rgba(20, 20, 20, .3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/**
 * Grid Menu.
 */

.botw-grid-menu {
  font-family: sans-serif;
  display: table;
}

.botw-grid-menu .botw-page {
  display: table-cell;
}

.botw-grid-menu .botw-page-toggle {
  width: 40px;
  height: 100%;
  display: table-cell;
  position: relative;
}
.botw-grid-menu .botw-page-toggle button {
  background: none;
  border: none;
  color: white;
  height: 100%;
  position: absolute;
}
.botw-grid-menu .botw-page-toggle .arrow {
  border: solid white;
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 12px;
}
.botw-grid-menu .botw-page-toggle .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.botw-grid-menu .botw-page-toggle .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/**
 * Menu Item.
 */

.botw-menu-item-container {
  position: relative;
}
.botw-grid-menu .botw-menu-item-container {
  margin: 6px;
  display: inline-block;
}

.botw-menu-item {
  border: 3px solid rgba(12, 13, 8, .7);
  color: white;
  overflow: hidden;
  position: relative;
  padding: 1px;
  border-radius: 5px;
}
.botw-menu-item.grid {
  width: 80px;
  height: 80px;
}
.botw-menu-item.active {
  cursor: pointer;
  background-color: white;
  border-color: rgb(12, 13, 8);
}
.botw-menu-item.empty {
  background-color: rgba(100, 100, 100, .7);
  border-color: rgba(100, 100, 100, .7);
  cursor: default;
}
.botw-menu-item.br-none {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}
.botw-menu-item.bl-none {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
}
.botw-menu-item.bt-none {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 0;
}
.botw-menu-item.bb-none {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 0;
}

.botw-menu-item .botw-menu-item-content {
  height: 100%;
  background-color: rgba(12, 13, 8, .7);
  border-radius: 3px;
  padding: 10px 25px;
}
.botw-menu-item.grid .botw-menu-item-content {
  text-align: center;
  padding: 0px;
}
.botw-menu-item.active .botw-menu-item-content {
  background-color: rgb(12, 13, 8);
}
.botw-menu-item.empty .botw-menu-item-content {
  background-color: rgba(70, 70, 70, .7);
}
.botw-menu-item.br-none .botw-menu-item-content {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.botw-menu-item.bl-none .botw-menu-item-content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.botw-menu-item.bt-none .botw-menu-item-content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.botw-menu-item.bb-none .botw-menu-item-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.botw-menu-item .botw-menu-item-content .botw-menu-item-name {
  padding: 10px 0;
  font-size: 14px;
}

.botw-menu-item .botw-menu-item-content img{
  display: block;
  height: 100%;
  width: 100%;
}

.botw-menu-item .botw-menu-item-content .botw-menu-item-count {
  position: absolute;
  bottom: -3px;
  left: 6px;
  font-size: 20px;
  font-weight: bold;
}
.botw-menu-item .botw-menu-item-content .botw-menu-item-count span:first-child {
  font-size: 16px;
  margin-right: 3px;
}
.botw-menu-item hr {
  background-color: rgb(100, 100, 100);
  height: 2px;
  margin: 1px 0;
}
.botw-text,
.botw-menu-item .menu-title {
  font-style: italic;
}
.botw-menu-item p {
  margin: 0;
}

/**
 * Menu Item - active.
 */
.botw-menu-item-container .active-corner {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  z-index: 1;
  border-bottom: 7px solid white;
}
.botw-menu-item-container .active-corner:nth-child(1) {
  position: absolute;
  left: -5px;
  top: -1px;
  transform: rotate(315deg);
}
.botw-menu-item-container .active-corner:nth-child(2) {
  position: absolute;
  right: -5px;
  top: -1px;
  transform: rotate(45deg);
}
.botw-menu-item-container .active-corner:nth-child(3) {
  position: absolute;
  left: -5px;
  bottom: -1px;
  transform: rotate(225deg);
}
.botw-menu-item-container .active-corner:nth-child(4) {
  position: absolute;
  right: -5px;
  bottom: -1px;
  transform: rotate(135deg);
}

/**
 * Loading.
 */

.botw-loading {
  text-align: center;
  color: white;
  width: 100%;
}


/**
 * Tabsheet.
 */

.botw-tabs {
  width: 100%;
}
.botw-tabs .botw-tab-menu {
  text-align: center;
  margin-bottom: 20px;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item {
  display: inline-block;
  color: rgb(100, 100, 100);
  cursor: pointer;
  vertical-align: middle;
  background: none;
  border: none;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item:focus {
  outline: 0;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item.active {
  color: white;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item .tab-name {
  font-style: italic;
  padding: 5px 5px;
  height: 34px;
  min-width: 78px;
  text-align: center;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item:not(:hover):not(.active) .tab-name span {
  display: none;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item .tab-img {
  height: 56px;
  width: 56px;
  padding: 0 5px 5px;
  text-align: center;
  margin: 0 auto;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item .tab-img img {
  display: block;
  height: 100%;
  width: 100%;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item .tab-img i {
  font-size: 42px;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item hr {
  background-color: rgb(100, 100, 100);
  height: 2px;
  margin: 1px 0;
}
.botw-tabs .botw-tab-menu .botw-tab-menu-item.active hr {
  background-color: white;
}

/**
 * Button.
 */

.botw-button {
  background-color: white;
  color: rgb(12, 13, 8);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  display: inline-block;
}